<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="1em grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let empl of topStaff"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ empl.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/photo.jpg" />
        <mat-card-content>
          <p>{{ empl.position }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Like</button>
          <button mat-button (click)="viewDetails(empl.id)">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
