<header class="header-container">
  <!-- <div class="header-container"> -->
  <div class="header-title">Lorem ipsum dolor sit.</div>
  <div class="header-menu">
    <div class="header-menu_item">About</div>
    <div class="header-menu_item">Test</div>

    <div class="header-menu_item" (click)="logOut()">
      <div *ngIf="!loggedIn; else elseBlock">
        <a routerLink="/auth" routerLinkActive="active">
          Login <span class="material-icons"> login </span>
        </a>
      </div>
      <ng-template #elseBlock
        >Log Out <span class="material-icons"> logout </span></ng-template
      >
    </div>
  </div>
  <!-- </div> -->
</header>

<app-messages></app-messages>

<div class="app-mainframe">
  <ng-container *ngIf="loading$ | async">
    <div class="wrapper">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-container>

  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active"
      >Dashboard <span class="material-icons"> dashboard </span></a
    >
    <a routerLink="/staff" routerLinkActive="active"
      >Staff <span class="material-icons"> list </span></a
    >
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-top-staff></app-top-staff>
  <app-staff></app-staff> -->
</div>
