<header>
  <div class="header-container">
    <div class="header-title">Lorem ipsum dolor sit.</div>
    <div class="header-menu">
      <div class="header-menu_about">About</div>
      <div class="header-menu_login">
        Login <span class="material-icons"> login </span>
      </div>
    </div>
  </div>
</header>

<div class="app-mainframe">
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/staff" routerLinkActive="active">Staff</a>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-top-staff></app-top-staff>
  <app-staff></app-staff> -->
</div>

<app-messages></app-messages>
