<header class="header-container">
  <!-- <div class="header-container"> -->
  <div class="header-title">Lorem ipsum dolor sit.</div>
  <div class="header-menu">
    <div class="header-menu_item">About</div>
    <div class="header-menu_item">Test</div>

    <div class="header-menu_item">
      <div *ngIf="!loggedIn; else elseBlock">
        <a routerLink="/auth" routerLinkActive="active">
          Login <span class="material-icons"> login </span>
        </a>
      </div>
      <ng-template #elseBlock>Logged In</ng-template>
    </div>
  </div>
  <!-- </div> -->
</header>

<app-messages></app-messages>

<div class="app-mainframe">
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/staff" routerLinkActive="active">Staff</a>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-top-staff></app-top-staff>
  <app-staff></app-staff> -->
</div>
