<div *ngIf="employee" class="staff-card">
  <h2>{{ employee.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ employee.id }}</div>
  <button (click)="back()">Back</button>

  <ng-container *ngIf="isLoggedIn">
    <button (click)="save()">Save changes</button>
    <mat-slide-toggle
      name="employeeMonth"
      color="primary"
      [(ngModel)]="employee.employeeOfTheMonth"
      (change)="testChange($event)"
      >Employee of the month</mat-slide-toggle
    >
  </ng-container>

  <div class="staff-card-input">
    <label for="employee-name"> Name: </label>
    <input
      type="text"
      size="50"
      minlength="2"
      maxlength="51"
      id="employee-name"
      [(ngModel)]="employee.name"
      required
      #emplName="ngModel"
      [disabled]="!isLoggedIn"
      appMaxLength="50"
    />
    <div
      *ngIf="emplName.invalid && (emplName.dirty || emplName.touched)"
      class="alert"
    >
      <div *ngIf="emplName.errors?.['minlength']">
        Type at least two characters.
      </div>

      <div *ngIf="emplName.errors?.['maxLength']">
        Unfortunately no more than 50 characters allowed.
      </div>

      <div *ngIf="emplName.errors?.['required']">Name is required.</div>
    </div>

    <br />

    <label for="employee-position"> Position: </label>
    <input
      type="text"
      id="employee-position"
      size="50"
      minlength="2"
      maxlength="51"
      [(ngModel)]="employee.position"
      required
      #emplPosition="ngModel"
      [disabled]="!isLoggedIn"
      appMaxLength="50"
    />

    <div
      *ngIf="
        emplPosition.invalid && (emplPosition.dirty || emplPosition.touched)
      "
      class="alert"
    >
      <div *ngIf="emplPosition.errors?.['minlength']">
        Type at least two characters.
      </div>

      <div *ngIf="emplPosition.errors?.['maxlength']">
        Unfortunately no more than 50 characters allowed.
      </div>

      <div *ngIf="emplPosition.errors?.['required']">Position is required.</div>
    </div>
  </div>
</div>
